body,dl,dt,dd,div,form,fieldset,input,textarea,img,h1,h2,h3,h4,h5,h6,li,ol,ul,em,p,span,strong{margin:0;  padding:0;}
body{ text-align:center; color:#2b2b2b; font-size:14px; }
ul,li{ list-style:none;}
img{ border:none;}
a,a:visited{ text-decoration:none; color:#3e3e3e;}
a:hover{ text-decoration:underline;}
.clear{ clear:both; overflow:hidden;zoom:1; display:block; height:15px; background:#fff;  }
.blankC {background:#f5edd0;}
.blank3 {clear:both; height:3px; overflow:hidden; display:block; font-size:1px;}
.blank6 {clear:both; height:6px; overflow:hidden; display:block; font-size:1px;}
.blank9 {clear:both; height:9px; overflow:hidden; display:block; font-size:1px;}	
.blank12 {clear:both; height:12px; overflow:hidden; display:block;}
.blank15 {clear:both; height:15px; overflow:hidden; display:block;}
.blank20 {clear:both; height:20px; overflow:hidden; display:block;}
.mar2{margin:0 2px;}
.dianline{ border-top:1px dashed #589c00; height:15px; margin:0 13px;}
.hline{ clear:both; overflow:hidden; display:block; background:url(../img/icon2.gif) repeat-x 0 -533px; height:30px;}


.Forange,.Forange:visited,.Forange:hover{ color:#ee7948;}
.FRed,.FRed:visited,.FRed:hover{ color:#d53700;}
.highcolor,.highcolor:visited,.highcolor:hover{ color:#cd3315;}
.FdBlue{color:#023a68;}

.TitleSum .titles,.TitleSum .titles:visited,.TitleSum .titles:hover{color:#2b2b2b;  font-size:14px; font-weight:bold; }
.TitleSum li{ border-bottom:1px dashed #97a7b5; margin:0px 0 15px 0;}
.TitleSum p{padding:5px 0px 10px; line-height:22px;color:#666; font-size:12px;}
.TitleSum p a,.TitleSum p a:visited,.TitleSum p a:hover{color:#b40000;}

.TitleRank li{ height:30px; overflow:hidden; line-height:1.1;}
.TitleRank span{ float:right; padding-left:10px; background:url(../img/icon2.gif) no-repeat; line-height:19px;}
.TitleRank .update{ background-position:0 -338px;}
.TitleRank .downdate{ background-position:0 -371px;}
.TitleRank strong{ float:left; width:19px; height:19px; line-height:19px; text-align:center; padding-right:4px;  overflow:hidden; color:#fff; font-weight:bold; margin:0px 9px 0 0; font-size:12px; font-family:Arial; background:#638b9c url(../img/icon2.gif) no-repeat right -440px;}
.TitleRank a,.TitleRank a:visited{ font-size:12px; line-height:19px; font-weight:bold;}
.TitleRank .HL{ }


.VPicTitleSum li{ margin-right:10px; width:280px;}
.VPicTitleSum img{border:1px solid #c1d1d7;  margin-bottom:7px;}
.VPicTitleSum .titles,.VPicTitleSum .titles:visited,.VPicTitleSum .titles:hover{color: #3E3E3E; text-decoration: none; font-size:14px; font-weight:bold;display:block;}
.VPicTitleSum p{ font-size:12px; line-height:18px; padding-top:8px; color:#565656;}
.VPicTitleSum p a,.VPicTitleSum p a:visited{padding-left:17px; display:inline-block; background:url(../img/icon2.gif) no-repeat 0 -496px; color:#638b9c;}        

.TitleTime li {background: url(../img/icon2.gif) no-repeat scroll 0px -214px transparent; font-size: 14px; height: 24px;
line-height: 24px;overflow: hidden;  padding-left:9px;}
.TitleTime .titles,.TitleTime .titles:visited,.TitleTime .titles:hover{color: #3E3E3E; text-decoration: none; font-size:14px;}
.TitleTime li span {color: #666666; font-family: Arial; font-size: 14px; padding: 0 0 0 11px;}
    

.area{ width:1000px; margin:0 auto;}
.area .gg705{ float:left; width:705px; overflow:hidden;}
.area .gg280{ float:right; width:280px; overflow:hidden;}
.area .gg310{ float:left;margin-right:15px; width:310px; overflow:hidden;}
.area .gg381{ float:left;  width:381px; overflow:hidden;}
.area .gg280{ float:right; width:280px; overflow:hidden;}
.gg280{ width:280px; overflow:hidden;}

.header{ height:102px; overflow:hidden; min-width:1000px; }
.head1wrap{ background:url(../img/headbg.gif);}
.head,.nav{ width:1000px; margin:0 auto;}
.head{height:60px; text-align:left;}
.logo{ float:left; width:165px;padding:9px 0 0 10px; }
.soseach{ width:390px; margin:0px auto;  height:36px; position:relative; float:left; margin-top:14px; }
.seachpop{border:1px solid #97a7b5; right:0px; top:29px; background:#e7ebed; color:#023a68; position:absolute; width:70px; line-height:27px; text-align:center; display:none;}
.seachpop a{color:#023a68;}
.sotext{border-top:1px solid #e2e2e2;border-left:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2; border-right:1px solid #c3c3c3; background:#ffffff; overflow:hidden; width:283px; height:28px; padding-left:15px; float:left;  }
.sotext input{border:0; height:28px;line-height:28px;color:#c2c5c6; width:400px; font-size:14px; background:none; }
.sobut{ width:65px; height:28px; overflow:hidden;  border:1px solid #adadad; border-left:0; text-align:center; border-right:0;  float:left;  background:url(../img/icon.gif) no-repeat 0 -1px ;  }
.sobut input{ background:none; border:0;font-size:14px; color:#204762; height:27px; width:60px; line-height:27px;cursor:pointer;  }
.otherfun{width:23px; height:28px; background:url(../img/icon.gif) no-repeat 0px -69px;float:left; border:1px solid #adadad; }
.person{width:380px; float:right; text-align:right; padding-top:21px;}
.person,.person a,.person a:visited{ font-size:12px;color:#c0b9b9; }
.welcome{  padding:5px 0 5px 30px; background:url(../img/icon2.gif) no-repeat 0 0px; margin-right:8px; }

.nav{ text-align:left; height:42px; overflow:hidden; line-height:38px; overflow:hidden; background: #f4f4f4;}
.nav a,.nav a:visited{ color:#4a5459; font-size:14px; margin-right:45px; text-decoration:none; display:inline-block; height:42px; width:75px; text-align:center; line-height:42px; overflow:hidden; margin:0 21px 0 21px;}
.nav a:hover{ background:#e3e3e3; color:#30657b; font-weight:bold; text-decoration:none;}

.content{ width:1000px; margin:0 auto; text-align:left;}
.colL{width:705px; float:left; overflow:hidden;}
.colR{width:280px; float:right;  overflow:hidden;}
.articlebar{height:26px; border-bottom:2px solid #638b9c;  _overflow:hidden;}
.articlemenu{ width:202px; float:left;}
.articlemenu li{ float:left; width:101px; background:#7491ac url(http://img.21caiso.com/images/icon.gif) no-repeat 0 -746px; height:33px; line-height:33px; overflow:hidden; text-align:center; font-weight:bold; font-size:14px; color:#ffffff; cursor:pointer;}
.articlemenu .on{ background-color:#f6f7fa; color:#023a68; height:35px;}
.articlefun{ float:right; width:305px; font-size:12px; padding:0px 0 0 0; position:relative;}
.font_set{float:right;cursor:pointer; background:url(http://img.21caiso.com/images/icon.gif) no-repeat 0 -56px; padding:0 0 0 27px; margin:0 19px 0 0; width:38px; font-size:12px;}
.font_set span{background:url(http://img.21caiso.com/images/icon.gif) no-repeat right -46px; display:block; height:25px;padding-right:12px; color:#3e3e3e; overflow:hidden; line-height:24px;}
.fontpop {background:#f4f4f4;border:1px solid #7492AA;display: block;height: 77px;left: 217px;overflow: hidden;position: absolute;top: 29px;width: 67px;z-index:2; display:none;}
.fontpop a {border-bottom:1px dotted #7492AA;cursor: pointer;display: block;height: 25px;line-height: 25px;text-align: center;text-indent: 0;width: 67px;}
.fontpop a:hover {background:#FEFEFE;color: #3E3E3E;}
.addFav,.addFav:visited,.addFav:hover{float:left; color:#3e3e3e; line-height:21px; padding:0 0 0 29px;background:url(http://img.21caiso.com/images/icon.gif) no-repeat 0 -103px; height:25px; overflow:hidden; font-size:12px;}
.news_tool{float:right;height:25px;line-height:22px; color:#3e3e3e; padding:0px 0 0 0;}
.news_tool span{float:left;width:50px;height:28px;font:12px;}
.news_tool a{float:left;margin:0 4px 0 4px;font:12px/60px simsun;width:16px; height:20px;  overflow:hidden;background:url(http://img.21caiso.com/images/icon.gif) no-repeat; overflow:hidden; display:block;}
.news_tool .cshwb{background-position: 0 -174px; margin-left:0;}
.news_tool .csh{background-position: 0 -164px;}
.news_tool .xlwba{background-position: -26px -165px;}
.news_tool .txwba{background-position: -54px -167px;  width:19px;}
.news_tool .wywba{background-position: -84px -167px;}


.articlewrap{ }
.newstitle{clear:both;padding:28px 0px 10px 0;text-align:center; font:20px/21px "黑体";}
.newsinfo{color:#3e3e3e;margin:0px 0px 15px;text-align: center;font:12px/20px simsun;}
.newsinfo a:link,.newsinfo a:visited{color:#3e3e3e;}
.newsinfo a:hover,.newsinfo a:active{color:#3e3e3e;}
.newsinfo a.red:link,.newsinfo a.red:hover,.newsinfo a.red:visited{color:#023a68;}
.newsinfo a.Fblue:link,.newsinfo a.Fblue:hover,.newsinfo a.Fblue:visited{color:#30657b;}

.newsinfo span.phone{padding-left:3px;line-height:20px;height:20px;display:inline-block;}

.newscore{font:14px/26px simsun;border-top:1px solid #ccd8e1; border-bottom:1px solid #ccd8e1; color:#666666;margin:0px 40px 15px 40px;padding:10px; text-align: justify;word-wrap: break-word;}
.newscore strong{color:#30657b; }

.newscnt{margin:0px 40px 30px;font-size:14px;color: #4a5459;}
.newscnt p{margin:0px 0px 20px;text-indent:2em;line-height:26px;text-align: justify;word-wrap: break-word;}
.newscnt p a:link,.newscnt p a:visited{color:#014991;}
.newscnt p a:hover,.newscnt p a:active{color:#e00000;}
.newscnt img{margin:0 auto;text-align:center;}

.discussfun{ text-align:center; font-size:12px; color:#023a68; height:37px;}
.setpl,.setpl:visited{ display:inline-block; color:#fff; background:url(http://img.21caiso.com/images/icon.gif) no-repeat 0 -409px; padding:0px 12px; font-size:12px; line-height:24px;}
.hotdiscuss{ }
.hotdiscuss h2{ border-top:1px solid #c5d1dd;  height:30px; font-family:"黑体"; font-size:18px; color:#023a68;  padding:0 0 0 28px; font-weight:normal; padding-top:13px; clear:both;}
.discusslist{font-size:12px; border-top:1px dashed #97a7b5; margin:0 28px;}
.discusslist .dlt{ height:100px; padding:16px 0 0 0; height:28px; overflow:hidden; font-weight:normal;}
.dlname{ float:left;}
.dltime{ float:right; color:#666;}
.dlcnt{ font-size:14px; line-height:22px; padding-bottom:10px;}
.dlb{ text-align:right; height:23px;}
.dlb a{margin-left:8px;}

.paging{margin:0 40px 30px;text-align:center;}
.paging span,.paging span.current{display:inline-block;width:23px;height:21px; background:#fff;line-height:21px; color:#000; font-weight:bold; text-align:center; overflow:hidden;border:1px solid #fff;}
.paging a{display:inline-block; width:23px; height:21px;border:1px solid #f2f2f2; line-height:21px; color:#898989; text-align:center; overflow:hidden; margin-right:5px; text-decoration:none;}
.paging a.a1,.paging a.nextpage{display:inline-block; width:51px; height:21px; line-height:21px; color:#898989; text-align:center; overflow:hidden; margin-right:5px; border:1px solid #f2f2f2;}

.message{margin:0 52px 10px;}
.messagetitle{height:27px;overflow:hidden;}
.messagetitle h2{ padding-right:11px;float:left; font-weight:bold;font-size:14px; color:#000; padding:10px 0 0 0; }
.messagetitle p{float:right;display:inline;font:12px/40px simsun;margin:0 20px 0 0;}
.messagetitle p em{color:#da0101; font-style:normal;}
.messagetitle p a:link,.messagetitle p a:visited{color:#222;}
.messagetitle p a:hover,.messagetitle p a:active{color:#222;}

.share{ border-top:1px solid #ccd8e1; border-bottom:1px solid #ccd8e1; padding:18px 0 13px 0;}
.share .news_tool{ float:none; font-size:12px;}
.reply_user b{color:#B90601;}

.message .reply{margin:10px 20px;padding:0 10px;border-bottom:1px dashed #cbd9e3;}
.message .reply strong{display:block;color:#1e50a2;font:12px/24px simsun;}
.message .reply span.reply_no{color:#999; float:right;}
.message .reply span{color:#999; padding-left:10px;}
.message .reply p{font:14px/24px simsun;color:#000;}
.message .reply p.reply_user{color: #0158A7; font-size: 12px; line-height: 20px; text-align: right; margin-bottom:10px;}
.message .reply p.reply_user a:link,.message .reply p.reply_user a:visited{text-decoration:underline;color:#1e50a2;}
.message .reply p.reply_user a:hover,.message .reply p.reply_user a:active{text-decoration:underline;color:#1e50a2;}
.message .reply .quote{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #CCCCCC;font-size:12px;line-height:22px;margin:5px;padding:5px;}
.message .reply .quote p {color:#666666;font-size:12px;}
.message a.more_msg{float:right;display:inline;text-align:right;color:#cd5725;display:block;padding:0 30px 0px 20px;}
.message .re_msg{margin:0px 0px 0px; border:0;}
.message .re_msg h3{float:left;display:inline;color:#000;font:bold 14px/25px simsun;margin:0 20px 0 0;}
.message .re_msg label{font-size:12px; margin-right:10px;}
.inptxt{margin-right:5px; width:94px; height:20px;border:1px solid #7f9db9; }
.message .re_msg a{text-decoration:underline; color:#222;}
.message .re_msg textarea.remsg_box{width:580px;height:120px;font:14px/20px simsun;margin:15px 0;color:#666; border:1px solid #aca899; background:#fff url(../img/boxlogo.gif) no-repeat center 35px;}
.setcom{ float:right; margin-right:21px; font-size:14px; height:28px; width:78px; line-height:28px; background:#638b9c;  border:0; font-weight:bold;color:#fff;}
.loginbut{ background:#638b9c; width:58px; height:22px; border:0; line-height:22px; color:#fff; margin-right:8px; }
.yihang{padding:8px 0 0 0; _padding-top:5px;}
.morely{ text-decoration:underline;}

a.backHome:link,a.backHome:visited {display:block; text-align:right; color:#bc2931; line-height:22px; margin:0 40px 20px 40px;}
a.backHome:hover,a.backHome:active{text-decoration:underline;}

.sobar{ height:72px; }
.sobar .logo{width:165px; padding:0 0 0 10px; background:none;}
.sobar .soseach{width:463px; margin-top:7px;}
.sobar .sotext{width:355px;}
.sobar .sotext input{width:340px;}


.stitle{ font-weight:bold;font-size:14px; color:#000;}
.titlebar{ height:26px; border-bottom:2px solid #638b9c;}
.titlebar strong{ float:left; color:#30657b; font-size:16px;}
.TenMajor .mores,.TenMajor .mores:visited,.TenMajor .mores:hover{ float:right; background:url(http://img.21caiso.com/images/icon.gif) no-repeat 0 -482px; text-align:center; line-height:20px; font-size:12px; width:108px; height:21px; color:#fff;}
.titlemore{ float:right; position:relative;}


.HTitlePicSum li{ float:left; margin-right:10px; width:187px;}
.HTitlePicSum img{border:1px solid #ddd;  margin-bottom:9px; float:left;}
.HTitlePicSum .titles,.HTitlePicSum .titles:visited,.HTitlePicSum .titles:hover{color: #3E3E3E; text-decoration: none; font-size:12px; font-weight:bold;display:block; height:30px;}
.HTitlePicSum p{ font-size:12px; line-height:16px; padding-top:0px; color:#565656; margin-left:150px;}

 
#cloud {position: relative;width: 260px;height: 145px;	margin: 0 auto; overflow:hidden;}
#cloud a {position: absolute;display: none;	white-space: nowrap;}    


.WindVane{}
.WindVaneKey{}
.WindVaneKey a,.WindVaneKey a:visited,.WindVaneKey a:hover{ font-size:12px; text-decoration:none; font-weight:normal; color:#4a5459; padding:7px 13px; font-size:14px; display:inline-block; margin:0px 0px 9px 0;}
.WindVaneKey .wv1,.WindVaneKey .wv1:visited,.WindVaneKey .wv1:hover{ background-color:#d6e0e5;}
.WindVaneKey .wv2,.WindVaneKey .wv2:visited,.WindVaneKey .wv2:hover{ background-color:#eaeff2;}
.WindVaneKey .wv3,.WindVaneKey .wv3:visited,.WindVaneKey .wv3:hover{ background-color:#c0d0d7;}



.wv0,.wv0:visited{color:#4a5459; font-size:12px;}
.wv1,.wv1:visited{color:#4a5459; font-size:14px; font-weight:bold;}
.wv2,.wv2:visited{color:#4a5459; font-size:16px;font-weight:bold;}
.wv3,.wv3:visited{color:#4a5459; font-size:18px; font-weight:bold;}
.wv3,.wv3:visited{color:#4a5459; font-size:12px; font-weight:bold;}

.ReleKey .theone{ border:0;}
.ReleKey a,.ReleKey a:visited{ border-left:1px solid #222; line-height:15px; font-size:12px; display:inline-block; color:#222; margin-right:6px; padding-left:6px; margin-bottom:15px;}

.footer{ height:55px; line-height:55px; background:#f4f4f4; margin-top:20px; z-index:1; min-width:1024px;}
.foot{width:980px; margin:0 auto; font-size:12px; text-align:left;}
.finfo{ float:right;}


/*Date*/
.trhead {;font-weight: bold;font: 14px Arial, Tahoma;font-weight: bold;color: #154BA0;background:#d7dde5;height: 40px;padding-left: 10px;
}
.trhead td {padding-left: 10px;}
.trhead a {color: #154BA0;}
.trhead input {background:none;vertical-align: middle;height: 16px;}
.category {color: #222222; font-size:14px; font-weight:bold;height:20px;background-color: #d7dde5;}
.category td {}
.expire, .expire a:link, .expire a:visited {color: #666;}
.default, .default a:link, .default a:visited {color: #000000;}
.checked{ color:#035ea7;}
.checked a:link, .checked a:visited {color: #000000; border:1px solid #6b8ba6; background:#c1ccd8; padding:3px;}
.today, .today a:link, .today a:visited {color: #00BB00;}
#calendar_year {display: none;line-height: 130%;background: #FFFFFF;position: absolute;z-index: 10;}
#calendar_year .col {float: left;background: #FFFFFF;margin-left: 1px;border: 1px solid #86B9D6;padding: 4px;}
#calendar_month {display: none;background: #FFFFFF;line-height: 130%;border: 1px solid #86B9D6;padding: 4px;position: absolute;z-index: 11;}
.tableborder {}
#year,#month{padding-right:10px;background:url(attachments/month_0701/8200714125245.gif) no-repeat center right;}/*图片路径可以改成自己的*/
.cals{width:280px; background:#d7dde5; border: 1px solid #b2c2d2;}
.dateinp{ width:88px; font-size:12px; line-height:23px; padding-left:10px; height:23px; background:url(../img/icon2.gif) no-repeat 0 -287px; border:0; cursor:pointer; }
.cals .mores{ display:block; line-height:21px; height:21px; overflow:hidden; color:#fff; background:url(http://img.21caiso.com/images/icon.gif) no-repeat 100px -526px; margin:6px 0;font-size:12px;}
/*Date*/


.normal{ display:none;}
.on{ display:block;}



.share1 { width: 130px; height: 25px; line-height: 25px; float: right; }
.sharediv { width: 170px; height: 25px; }
.shareinner { padding-top: 5px; }
.down { border-bottom: 1px dotted #CCCCCC; clear: both; color: #c80000; padding-bottom: 10px; padding-left: 30px; }
.kchart { margin-left: 74px; }
.attWeiBo li { float: left; padding-left: 4px; list-style: none; }
.guanzhudiv {
	width: 100%;
	clear: both;
	height: 50px;
}
.guanzhudiv_box1 { position: absolute; z-index: 10; padding-left: 30px; padding-top: 14px; }
.guanzhudiv_box2 { position: absolute; z-index: 9; padding-left: 370px; padding-top: 14px; }

.attWeiBo .tit { border-left: 1px solid #C0D8F2; color: #002D82; font-size: 14px; font-weight: bold; padding: 0 12px; }
.attWeiBo li.npr { padding: 0 0 0 8px; }
.attWeiBo li.npr a { margin-right: 0; }
.attWeiBo .weibo { font-size: 14px; padding-left: 0 !important; width: 100px; }
.attWeiBo .weibo a { color: #002D82; display: block; width: 90px; }
.attWeiBo .weibo i { background-position: -19px -19px; float: right; margin-right: 0; }
.attWeiBo .guanzhu { margin: 0; position: relative; }
.attWeiBo .itit {
	margin-right: 4px;
	width:30px;
	font-size: 14px;
	text-align: center;
}
.attWeiBo .guanzhu.mr6 { margin-right: 4px; }
.attWeiBo .wxBtn, .attWeiBo .wxtip {
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../img/weixin_OK.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.attWeiBo .wxBtn { background-position: -67px 0; float: left; height: 22px; width: 64px; }
.attWeiBo .wxtip { background-position: 0 -25px; display: none; float: left; height: 105px; left: -67px; position: absolute; top: 25px; width: 198px; }
.attWeiBo .guanzhuqq { width: 68px; overflow: hidden; }